# version of docker-compose file

version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: strongpassword
    volumes:
      - mongo_data:/data/db
    networks:
      - db-network


volumes:
  mongo_data:

networks:
  db-network: